heart_Failure_prediction.json
[{"id":"602b162c.be3588","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1f03ac9e.4311b3","type":"ui_form","z":"602b162c.be3588","name":"Heart Failure Prediction","label":"Heart Failure Prediction","group":"f49c821.310378","order":1,"width":0,"height":0,"options":[{"label":"Avg Heart Beat","value":"be","type":"number","required":true,"rows":null},{"label":"Palpitations ","value":"pa","type":"number","required":true,"rows":null},{"label":"Cholestrol","value":"ch","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Sex (M/F)","value":"se","type":"text","required":true,"rows":null},{"label":"Family History (Y/N)","value":"fa","type":"text","required":true,"rows":null},{"label":"Smoker last 5years (Y/N)","value":"sm","type":"text","required":true,"rows":null},{"label":"ExcercisePerWeek in mins","value":"ex","type":"number","required":true,"rows":null}],"formValue":{"be":"","pa":"","ch":"","bm":"","ag":"","se":"","fa":"","sm":"","ex":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":110,"y":400,"wires":[["eb1f1355.e494d","1e340bd5.336844"]]},{"id":"eb1f1355.e494d","type":"debug","z":"602b162c.be3588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":480,"wires":[]},{"id":"1e340bd5.336844","type":"function","z":"602b162c.be3588","name":"pre-token","func":"global.set(\"be\",msg.payload.be)\nglobal.set(\"pa\",msg.payload.pa)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"fa\",msg.payload.fa)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"ex\",msg.payload.ex)\nvar apikey=\"pUPWolXKwq69JfnGHOiRrsM6pgUUNRjqFw6V34klzLC3\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":280,"wires":[["d9477058.fedd2"]]},{"id":"d9477058.fedd2","type":"http request","z":"602b162c.be3588","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":360,"wires":[["9849aabe.dd1bc8","4a643e17.8b246"]]},{"id":"9849aabe.dd1bc8","type":"debug","z":"602b162c.be3588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":480,"wires":[]},{"id":"4a643e17.8b246","type":"function","z":"602b162c.be3588","name":"Pre Prediction","func":"var be = global.get(\"be\")\nvar pa = global.get(\"pa\")\nvar ch = global.get(\"ch\")\nvar bm = global.get(\"bm\")\nvar ag = global.get(\"ag\")\nvar se = global.get(\"se\")\nvar fa = global.get(\"fa\")\nvar sm = global.get(\"sm\")\nvar ex = global.get(\"ex\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVGHEARTBEATSPERMIN\", \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\", \"AGE\", \"SEX\", \"FAMILYHISTORY\", \"SMOKERLAST5YRS\", \"EXERCISEMINPERWEEK\"]],\"values\": [[be,pa,ch,bm,ag,se,fa,sm,ex]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":240,"wires":[["bdee7b4.da55488"]]},{"id":"bdee7b4.da55488","type":"http request","z":"602b162c.be3588","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/f99d26a4-6420-4e89-892f-b3083c20ae98/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":360,"wires":[["f7d4a56c.e4e378","682e1c8e.7999a4"]]},{"id":"f7d4a56c.e4e378","type":"debug","z":"602b162c.be3588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":420,"wires":[]},{"id":"27b757b8.531f48","type":"inject","z":"602b162c.be3588","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":200,"wires":[["1e340bd5.336844"]]},{"id":"969bfb3.0ae0e08","type":"debug","z":"602b162c.be3588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":200,"wires":[]},{"id":"682e1c8e.7999a4","type":"function","z":"602b162c.be3588","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":240,"wires":[["969bfb3.0ae0e08","f667772e.4b61d8"]]},{"id":"f667772e.4b61d8","type":"ui_text","z":"602b162c.be3588","group":"f49c821.310378","order":2,"width":0,"height":0,"name":"","label":"Heart Failure Prediction (Y-Yes, N-No)","format":"{{msg.payload}}","layout":"col-center","x":1350,"y":360,"wires":[]},{"id":"f49c821.310378","type":"ui_group","z":"","name":"Heart Failure Prediction","tab":"5efb46c2.c92488","order":1,"disp":true,"width":"6","collapse":false},{"id":"5efb46c2.c92488","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]